# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs
*.log
logs/**/*.log

# Entorno
.env

# Directorios generados
coverage/
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
.idea/
*.swp
